DB_URL=jdbc:mysql://localhost:3306/devlivery
DB_USERNAME=root
SENHA_DEVLIVERY=sua_senha_aqui

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=devlivery
MYSQL_USER=root
MYSQL_PASSWORD=sua_senha_aqui